In [54]:
import pandas as pd
import numpy as np

In [55]:
foster = pd.read_csv('foster_2017-2022.csv',low_memory=False)

In [56]:
foster

,EventID,AnimalID,AnimalName,EventDate,EventMonth,EventType,AnimalSex,AnimalType,FosterID,AnimalDOB,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,363511,9175,Jolie,20170101,201701,Outcome.Foster,Female,Dog,1443919,20101021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,366271,38312,Flora,20170101,201701,Outcome.Foster,Female,Cat,1391726,20100914.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,367615,42979,Cosmic Orange,20170101,201701,Outcome.Foster,Male,Dog,1437279,20160603.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100617,44965,Little Tango,20170101,201701,Outcome.Foster,Male,Dog,1228737,20100623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101185,45098,Umi 26,20170101,201701,Outcome.Foster,Male,Cat,1391768,20161016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55005,9007378,107632,Baby Boy,20220425,202204,Outcome.Foster,Male,Dog,12275848,20220413.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55006,9007380,107633,Candy Apple,20220425,202204,Outcome.Foster,Female,Cat,52247198,20210425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55007,9007928,107643,Happy 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55008,9007933,107644,Hang Ten 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55009,9007937,107645,Huckleberry 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
yr_2019 = foster['EventMonth'].between(201899,201999)
dog = foster['AnimalType'].eq('Dog')
cat = foster['AnimalType'].eq('Cat')

In [63]:
dogfos2019 = foster[yr_2019][dog]
catfos2019 = foster[yr_2019][cat]

/var/folders/dg/7g2s77314ws2znrh1l_sq8_80000gp/T/ipykernel_79379/2975369987.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dogfos2019 = foster[yr_2019][dog]
/var/folders/dg/7g2s77314ws2znrh1l_sq8_80000gp/T/ipykernel_79379/2975369987.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  catfos2019 = foster[yr_2019][cat]

In [65]:
dogzips2019 = dogfos2019['FosterZipCode'].str.split('-').str[0]
catzips2019 = catfos2019['FosterZipCode'].str.split('-').str[0]

In [66]:
dogzipcounts = dogzips2019.value_counts()
catzipcounts = catzips2019.value_counts()

In [77]:
dogzipcounts.to_csv('2019_dogfoster_zipcounts.csv')
catzipcounts.to_csv('2019_catfoster_zipcounts.csv')

In [91]:
catzips2019.unique()

array(['78744', '78703', '78749', '76574', '78745', '78727', '78747',
       '78737', '78748', '78653', '78731', '78741', '78728', '78723',
       '78757', '78702', '78758', '78613', '78641', '78739', '78721',
       '78724', '78759', '78751', '78746', '78704', '78705', '78753',
       '78620', '78725', '78732', '78722', '78654', '78644', '78634',
       '78729', '78666', '78701', '78735', '78626', '78717', '78738', nan,
       '78130', '78734', '77546', '78640', '78660', '78736', '78726',
       '78754', '78664', '78756', '78619', '23225', '78665', '78617',
       '78752', '78750', '78610', '787', '78733', '78621', '78730',
       '76504', '43231', '78681', '76537', '78133', '78612', '78669',
       '78962', '78652', '68657'], dtype=object)

In [92]:
catzips2019

16449    78744
16451    78703
16452    78749
16453    76574
16457    78745
         ...
24962    78741
24963    78738
24964    78738
24965    78738
24966    78738
Name: FosterZipCode, Length: 4755, dtype: object

In [93]:
catzipcounts.sum()

4636