In [3]:
import pandas as pd
import numpy as np

In [5]:
foster = pd.read_csv('foster_2017-2022.csv',low_memory=False)

In [8]:
foster

,EventID,AnimalID,AnimalName,EventDate,EventMonth,EventType,AnimalSex,AnimalType,FosterID,AnimalDOB,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,363511,9175,Jolie,20170101,201701,Outcome.Foster,Female,Dog,1443919,20101021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,366271,38312,Flora,20170101,201701,Outcome.Foster,Female,Cat,1391726,20100914.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,367615,42979,Cosmic Orange,20170101,201701,Outcome.Foster,Male,Dog,1437279,20160603.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100617,44965,Little Tango,20170101,201701,Outcome.Foster,Male,Dog,1228737,20100623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101185,45098,Umi 26,20170101,201701,Outcome.Foster,Male,Cat,1391768,20161016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55005,9007378,107632,Baby Boy,20220425,202204,Outcome.Foster,Male,Dog,12275848,20220413.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55006,9007380,107633,Candy Apple,20220425,202204,Outcome.Foster,Female,Cat,52247198,20210425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55007,9007928,107643,Happy 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55008,9007933,107644,Hang Ten 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55009,9007937,107645,Huckleberry 9,20220425,202204,Outcome.Foster,Unknown,Cat,17499191,20220418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
yr_2021 = foster['EventMonth'].between(202099,202199)

In [38]:
fos2021 = foster[yr_2021]

In [52]:
fos2021['EventMonth']

38836    202101
38837    202101
38838    202101
38839    202101
38840    202101
          ...
51755    202112
51756    202112
51757    202112
51758    202112
51759    202112
Name: EventMonth, Length: 12924, dtype: int64

In [47]:
zipcodes2021 = fos2021['FosterZipCode'].str.split('-').str[0]

In [48]:
zipcounts = zipcodes2021.value_counts()

In [50]:
zipcounts.to_csv('2021_zipcounts.csv')

In [46]:
'78723-2112'.split('-')[0]

'78723'

In [53]:
zipcounts

78704    1018
78705     783
78745     553
78749     502
78741     484
         ...
78659       1
78336       1
78953       1
78602       1
77459       1
Name: FosterZipCode, Length: 110, dtype: int64