In [1]:
import pandas as pd

In [13]:
foster_all = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/foster_2017-2022.csv',low_memory=False)
dogzip2019 = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/2019_dog_zipcounts.csv')
spec_stmed = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Short Term Med Emergency.csv')
spec_ltmed = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Long Term Med Condition.csv')
spec_crwound = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Crate Rest _ Wounds.csv')
spec_skin = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Skin Issues.csv')
spec_parvodw = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Parvo _ Distemper.csv')
spec_beh = pd.read_csv('/Users/eavallon/Desktop/FosterCapacity/Specialized Dog Fosters - Behavior.csv')

In [17]:
dogzip2019 = dogzip2019.rename(columns={'Unnamed: 0':'ZipCode', 'FosterZipCode':'Total'})

In [22]:
foster_all[foster_all['FosterEmail'].eq(spec_stmed['Email Address'][0])].drop_duplicates('AnimalID')

,EventID,AnimalID,AnimalName,EventDate,EventMonth,EventType,AnimalSex,AnimalType,FosterID,AnimalDOB,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
168,100658,44972,Thelma,20170110,201701,Outcome.Foster,Female,Dog,1210472,20161120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,100692,44977,Chico,20170110,201701,Outcome.Foster,Male,Dog,1210472,20161120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,103366,45801,Midge,20170112,201701,Outcome.Foster,Female,Dog,1210472,20140111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,103743,45905,Mandy,20170117,201701,Outcome.Foster,Female,Dog,1210472,20130116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,103747,45906,Sandy,20170117,201701,Outcome.Foster,Female,Dog,1210472,20161126.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51401,8464889,103297,Valentine,20211218,202112,Outcome.Foster,Female,Dog,1210472,20211217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51402,8914178,103298,Sugar,20211218,202112,Outcome.Foster,Female,Dog,1210472,20211217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51403,8523233,103299,Kisses,20211218,202112,Outcome.Foster,Female,Dog,1210472,20211217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51404,8751648,103300,Roses,20211218,202112,Outcome.Foster,Female,Dog,1210472,20211217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51405,8478305,103301,Amour,20211218,202112,Outcome.Foster,Female,Dog,1210472,20211217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
yr_2019 = foster['EventMonth'].between(201899,201999)
dog = foster['AnimalType'].eq('Dog')
cat = foster['AnimalType'].eq('Cat')

In [34]:
dogfos2019 = foster[yr_2019][dog].drop_duplicates('FosterID')
catfos2019 = foster[yr_2019][cat].drop_duplicates('FosterID')

/var/folders/dg/7g2s77314ws2znrh1l_sq8_80000gp/T/ipykernel_79773/3781508609.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dogfos2019 = foster[yr_2019][dog].drop_duplicates('FosterID')
/var/folders/dg/7g2s77314ws2znrh1l_sq8_80000gp/T/ipykernel_79773/3781508609.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  catfos2019 = foster[yr_2019][cat].drop_duplicates('FosterID')

In [36]:
len(catfos2019)

837

In [11]:
dogfos2019['AnimalID'].value_counts()

71312    9
27980    8
40179    8
40017    8
65819    7
        ..
72357    1
72010    1
72598    1
72706    1
78582    1
Name: AnimalID, Length: 2570, dtype: int64

In [10]:
catfos2019['BreedSize'].value_counts()

UNKNOWN    4755
Name: BreedSize, dtype: int64

In [37]:
dogzips2019 = dogfos2019['FosterZipCode'].str.split('-').str[0]
catzips2019 = catfos2019['FosterZipCode'].str.split('-').str[0]

In [38]:
dogzipcounts = dogzips2019.value_counts()
catzipcounts = catzips2019.value_counts()

In [41]:
dogzipcounts.to_csv('2019_dog_zipcounts.csv')
catzipcounts.to_csv('2019_cat_zipcounts.csv')

In [91]:
catzips2019.unique()

array(['78744', '78703', '78749', '76574', '78745', '78727', '78747',
       '78737', '78748', '78653', '78731', '78741', '78728', '78723',
       '78757', '78702', '78758', '78613', '78641', '78739', '78721',
       '78724', '78759', '78751', '78746', '78704', '78705', '78753',
       '78620', '78725', '78732', '78722', '78654', '78644', '78634',
       '78729', '78666', '78701', '78735', '78626', '78717', '78738', nan,
       '78130', '78734', '77546', '78640', '78660', '78736', '78726',
       '78754', '78664', '78756', '78619', '23225', '78665', '78617',
       '78752', '78750', '78610', '787', '78733', '78621', '78730',
       '76504', '43231', '78681', '76537', '78133', '78612', '78669',
       '78962', '78652', '68657'], dtype=object)

In [39]:
len(dogzipcounts)

79

In [40]:
catzipcounts

78705    81
78704    69
78745    45
78741    38
78751    36
         ..
78130     1
23225     1
78654     1
78644     1
68657     1
Name: FosterZipCode, Length: 73, dtype: int64