In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("ACSDT5Y2020.B02001-race.csv")

In [26]:
df.columns = df.columns.str.replace("Total:!!","")
df.columns = df.columns.str.replace(":!!"," ")
df.columns = df.columns.str.replace(":"," ")
df = df.rename(columns={"Label (Grouping)": "Zip Code"})
df = df.replace("ZCTA5 ","",regex=True)
df = df.replace("±", "", regex=True)

In [27]:
df_err = df.copy()

In [28]:
for index, row in df.iterrows():
    if index == len(df) - 3:
            df.iloc[index][1:] = df.iloc[index + 1][1:]
            df_err.iloc[index][1:] = df_err.iloc[index + 2][1:]
            break
    else:
            df.iloc[index][1:] = df.iloc[index + 1][1:]
            df_err.iloc[index][1:] = df_err.iloc[index + 2][1:]

In [29]:
drop_idx = [i for i in range(1,len(df),3)]
drop_idx_err = [i for i in range(2,len(df),3)]
df = df.drop(drop_idx+drop_idx_err)
df_err = df_err.drop(drop_idx+drop_idx_err)

In [52]:
# df.to_csv("sexbyage2020_noerr_clean.csv")

In [2]:
"sexbyage2020_noerr_clean.csv"

['sexbyage2020_noerr_clean', 'csv']

In [31]:
df_err

,Zip Code,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two or more races Two races including Some other race,"Two or more races Two races excluding Some other race, and three or more races"
0,78610,"1,996","1,514",594,233,315,30,449,"1,345","1,183",492
3,78612,"2,025","1,146",622,81,198,22,"1,414","1,215","1,207",116
6,78613,"1,563","2,419",752,206,"1,091",211,848,"1,106",819,957
9,78615,490,340,14,167,14,14,42,315,316,7
12,78617,"2,213","1,868",316,46,284,26,"2,125",921,891,142
...,...,...,...,...,...,...,...,...,...,...,...
168,78756,"1,124",694,145,27,222,20,60,473,377,161
171,78757,"2,406","1,395",588,26,259,26,957,"1,449","1,370",244
174,78758,"3,125","2,255",965,324,"1,024",48,"1,498","1,436","1,331",388
177,78759,"2,097","1,626",407,20,674,23,429,921,708,608
180,"Travis County, Texas",*****,"6,261","1,808","1,218","1,560",343,"5,152","5,205","5,052","2,750"

In [27]:
len(df)

183