In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./raw/ACSDT5Y2020.B03003-hispanicorlatino.csv")

In [3]:
df.columns = df.columns.str.replace("Total:!!", "")
df.columns = df.columns.str.replace(":!!", " ")
df.columns = df.columns.str.replace(":", " ")
df = df.rename(columns={"Label (Grouping)": "Zip Code"})
df = df.replace("ZCTA5 ", "", regex=True)
df = df.replace("±", "", regex=True)

In [4]:
df

                 Zip Code     Total  Not Hispanic or Latino Hispanic or Latino
0                   78610        NaN                    NaN                NaN
1                Estimate     39,498                 23,880             15,618
2         Margin of Error      1,996                  1,415              1,787
3                   78612        NaN                    NaN                NaN
4                Estimate     16,234                  7,202              9,032
..                    ...        ...                    ...                ...
178              Estimate     45,901                 39,350              6,551
179       Margin of Error      2,097                  1,921              1,059
180  Travis County, Texas        NaN                    NaN                NaN
181              Estimate  1,250,884                830,648            420,236
182       Margin of Error      *****                  *****              *****

[183 rows x 4 columns]

In [5]:
df_err = df.copy()

In [6]:
for index, row in df.iterrows():
    if index == len(df) - 3:
        df.iloc[index][1:] = df.iloc[index + 1][1:]
        df_err.iloc[index][1:] = df_err.iloc[index + 2][1:]
        break
    else:
        df.iloc[index][1:] = df.iloc[index + 1][1:]
        df_err.iloc[index][1:] = df_err.iloc[index + 2][1:]

In [1]:
drop_idx = [i for i in range(1, len(df), 3)]
drop_idx_err = [i for i in range(2, len(df), 3)]
df = df.drop(drop_idx + drop_idx_err)
df_err = df_err.drop(drop_idx + drop_idx_err)

NameError: name 'df' is not defined

In [10]:
df_err

                 Zip Code Total  Not Hispanic or Latino Hispanic or Latino
0                   78610  1,996                  1,415              1,787
3                   78612  2,025                  1,025              1,765
6                   78613  1,563                  2,139              1,723
9                   78615    490                    226                455
12                  78617  2,213                  1,290              2,181
..                    ...    ...                    ...                ...
168                 78756  1,124                    832                472
171                 78757  2,406                  1,429              1,862
174                 78758  3,125                  1,762              2,301
177                 78759  2,097                  1,921              1,059
180  Travis County, Texas  *****                  *****              *****

[61 rows x 4 columns]

In [12]:
df.to_csv('./clean/ACSDT5Y2020.B03003-hispanicorlatino_clean/ACSDT5Y2020.B03003-hispanicorlatino_clean.csv')
df_err.to_csv('./clean/ACSDT5Y2020.B03003-hispanicorlatino_clean/ACSDT5Y2020.B03003-hispanicorlatino_err_clean.csv')