In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./raw/ACSST5Y2020.S1401-schoolenroll.csv")

In [3]:
df = df.replace("ZCTA5 ","",regex=True)
df = df.replace("±", "", regex=True)
df = df.rename(columns={"Label (Grouping)": "Zip Code"})

In [4]:
df

,Zip Code,Population 3 years and over enrolled in school,"Population 3 years and over enrolled in school!!Nursery school, preschool",Population 3 years and over enrolled in school!!Kindergarten to 12th grade,Population 3 years and over enrolled in school!!Kindergarten to 12th grade!!Kindergarten,Population 3 years and over enrolled in school!!Kindergarten to 12th grade!!Elementary: grade 1 to grade 4,Population 3 years and over enrolled in school!!Kindergarten to 12th grade!!Elementary: grade 5 to grade 8,Population 3 years and over enrolled in school!!Kindergarten to 12th grade!!High school: grade 9 to grade 12,"Population 3 years and over enrolled in school!!College, undergraduate","Population 3 years and over enrolled in school!!Graduate, professional school",...,Population 25 to 34 years,Population 25 to 34 years!!25 to 34 year olds enrolled in school,Population 35 years and over,Population 35 years and over!!35 years and over enrolled in school,Population 18 to 24 years,Population 18 to 24 years!!Enrolled in college or graduate school,Population 18 to 24 years!!Males 18 to 24 years,Population 18 to 24 years!!Males 18 to 24 years!!Enrolled in college or graduate school,Population 18 to 24 years!!Females 18 to 24 years,Population 18 to 24 years!!Females 18 to 24 years!!Enrolled in college or graduate school
0,78610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"9,433",443,"7,340",537,"2,714","2,028","2,061","1,215",435,...,"5,850",371,"19,547",514,"3,165",774,"1,974",420,"1,191",354
3,Margin of Error,"1,393",196,"1,122",210,974,498,400,434,302,...,782,195,"1,146",361,702,390,606,311,349,220
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,Estimate,(X),"10,008","19,881","1,753","6,646","6,653","4,829","11,989","4,332",...,(X),"4,031",(X),"4,110",(X),"8,197",(X),"3,491",(X),"4,706"
1155,Margin of Error,(X),810,"1,422",289,822,700,719,"1,105",600,...,(X),586,(X),698,(X),847,(X),524,(X),573
1156,Percent in private school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1157,Estimate,14.8%,46.5%,10.5%,12.6%,11.2%,10.7%,8.9%,15.9%,17.7%,...,(X),14.5%,(X),24.8%,(X),14.5%,(X),12.9%,(X),16.0%
1158,Margin of Error,0.8,3.6,0.7,2.1,1.3,1.2,1.3,1.4,2.2,...,(X),1.9,(X),3.4,(X),1.4,(X),1.8,(X),1.8

In [5]:
# Totals
df_total_est = df.copy()
df_total_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_total_est.iloc[idx][1:] = df_total_est.iloc[idx + 2][1:]
        df_total_est_err.iloc[idx][1:] = df_total_est_err.iloc[idx + 3][1:]
        break
    else:
        df_total_est.iloc[idx][1:] = df_total_est.iloc[idx + 2][1:]
        df_total_est_err.iloc[idx][1:] = df_total_est_err.iloc[idx + 3][1:]

df_total_est = df_total_est.loc[list(range(0,len(df),19))]
df_total_est_err = df_total_est_err.loc[list(range(0,len(df),19))]

df_total_est = df_total_est.reset_index()
df_total_est_err = df_total_est_err.reset_index()

df_total_est = df_total_est.drop(columns=['index'])
df_total_est_err = df_total_est_err.drop(columns=['index'])

# Percent of population
df_total_percent = df.copy()
df_total_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_total_percent.iloc[idx][1:] = df_total_percent.iloc[idx + 5][1:]
        df_total_percent_err.iloc[idx][1:] = df_total_percent_err.iloc[idx + 6][1:]
        break
    else:
        df_total_percent.iloc[idx][1:] = df_total_percent.iloc[idx + 5][1:]
        df_total_percent_err.iloc[idx][1:] = df_total_percent_err.iloc[idx + 6][1:]

df_total_percent = df_total_percent.loc[list(range(0,len(df),19))]
df_total_percent_err = df_total_percent_err.loc[list(range(0,len(df),19))]

df_total_percent = df_total_percent.reset_index()
df_total_percent_err = df_total_percent_err.reset_index()

df_total_percent = df_total_percent.drop(columns=['index'])
df_total_percent_err = df_total_percent_err.drop(columns=['index'])

In [6]:
# In Public School
df_pbs_est = df.copy()
df_pbs_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_pbs_est.iloc[idx][1:] = df_pbs_est.iloc[idx + 8][1:]
        df_pbs_est_err.iloc[idx][1:] = df_pbs_est_err.iloc[idx + 9][1:]
        break
    else:
        df_pbs_est.iloc[idx][1:] = df_pbs_est.iloc[idx + 8][1:]
        df_pbs_est_err.iloc[idx][1:] = df_pbs_est_err.iloc[idx + 9][1:]

df_pbs_est = df_pbs_est.loc[list(range(0,len(df),19))]
df_pbs_est_err = df_pbs_est_err.loc[list(range(0,len(df),19))]

df_pbs_est = df_pbs_est.reset_index()
df_pbs_est_err = df_pbs_est_err.reset_index()

df_pbs_est = df_pbs_est.drop(columns=['index'])
df_pbs_est_err = df_pbs_est_err.drop(columns=['index'])

# Percent in Public School
df_pbs_percent = df.copy()
df_pbs_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_pbs_percent.iloc[idx][1:] = df_pbs_percent.iloc[idx + 11][1:]
        df_pbs_percent_err.iloc[idx][1:] = df_pbs_percent_err.iloc[idx + 12][1:]
        break
    else:
        df_pbs_percent.iloc[idx][1:] = df_pbs_percent.iloc[idx + 11][1:]
        df_pbs_percent_err.iloc[idx][1:] = df_pbs_percent_err.iloc[idx + 12][1:]

df_pbs_percent = df_pbs_percent.loc[list(range(0,len(df),19))]
df_pbs_percent_err = df_pbs_percent_err.loc[list(range(0,len(df),19))]

df_pbs_percent = df_pbs_percent.reset_index()
df_pbs_percent_err = df_pbs_percent_err.reset_index()

df_pbs_percent = df_pbs_percent.drop(columns=['index'])
df_pbs_percent_err = df_pbs_percent_err.drop(columns=['index'])

In [9]:
# In Private School
df_pvs_est = df.copy()
df_pvs_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_pvs_est.iloc[idx][1:] = df_pvs_est.iloc[idx + 14][1:]
        df_pvs_est_err.iloc[idx][1:] = df_pvs_est_err.iloc[idx + 15][1:]
        break
    else:
        df_pvs_est.iloc[idx][1:] = df_pvs_est.iloc[idx + 14][1:]
        df_pvs_est_err.iloc[idx][1:] = df_pvs_est_err.iloc[idx + 15][1:]

df_pvs_est = df_pvs_est.loc[list(range(0,len(df),19))]
df_pvs_est_err = df_pvs_est_err.loc[list(range(0,len(df),19))]

df_pvs_est = df_pvs_est.reset_index()
df_pvs_est_err = df_pvs_est_err.reset_index()

df_pvs_est = df_pvs_est.drop(columns=['index'])
df_pvs_est_err = df_pvs_est_err.drop(columns=['index'])

# Percent in Private School
df_pvs_percent = df.copy()
df_pvs_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_pvs_percent.iloc[idx][1:] = df_pvs_percent.iloc[idx + 17][1:]
        df_pvs_percent_err.iloc[idx][1:] = df_pvs_percent_err.iloc[idx + 18][1:]
        break
    else:
        df_pvs_percent.iloc[idx][1:] = df_pvs_percent.iloc[idx + 17][1:]
        df_pvs_percent_err.iloc[idx][1:] = df_pvs_percent_err.iloc[idx + 18][1:]

df_pvs_percent = df_pvs_percent.loc[list(range(0,len(df),19))]
df_pvs_percent_err = df_pvs_percent_err.loc[list(range(0,len(df),19))]

df_pvs_percent = df_pvs_percent.reset_index()
df_pvs_percent_err = df_pvs_percent_err.reset_index()

df_pvs_percent = df_pvs_percent.drop(columns=['index'])
df_pvs_percent_err = df_pvs_percent_err.drop(columns=['index'])

In [16]:
df_total_est.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/total_est.csv')
df_total_est_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/total_est_err.csv')
df_total_percent.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/total_percent.csv')
df_total_percent_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/total_percent_err.csv')

In [17]:
df_pbs_est.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/public_school_est.csv')
df_pbs_est_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/public_school_est_err.csv')
df_pbs_percent.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/public_school_percent.csv')
df_pbs_percent_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/public_school_percent_err.csv')

In [18]:
df_pvs_est.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/private_school_est.csv')
df_pvs_est_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/private_school_est_err.csv')
df_pvs_percent.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/private_school_percent.csv')
df_pvs_percent_err.to_csv('./clean/ACSST5Y2020.S1401-schoolenroll_clean/private_school_percent_err.csv')