In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./raw/ACSST5Y2020.S1501_age_sex_traviscounty.csv")

In [3]:
df

,Label (Grouping),Total population,Total population!!AGE,Total population!!AGE!!Under 5 years,Total population!!AGE!!5 to 9 years,Total population!!AGE!!10 to 14 years,Total population!!AGE!!15 to 19 years,Total population!!AGE!!20 to 24 years,Total population!!AGE!!25 to 29 years,Total population!!AGE!!30 to 34 years,...,Total population!!SELECTED AGE CATEGORIES!!75 years and over,Total population!!SUMMARY INDICATORS,Total population!!SUMMARY INDICATORS!!Median age (years),Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females),Total population!!SUMMARY INDICATORS!!Age dependency ratio,Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Total population!!SUMMARY INDICATORS!!Child dependency ratio,Total population!!PERCENT ALLOCATED,Total population!!PERCENT ALLOCATED!!Sex,Total population!!PERCENT ALLOCATED!!Age
0,ZCTA5 78610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"39,498",NaN,"2,905","3,938","2,607","2,234","2,417","2,047","3,803",...,"1,035",NaN,34.8,97.2,57.1,13.6,43.5,NaN,(X),(X)
3,Margin of Error,"±1,996",NaN,±493,±985,±554,±517,±572,±518,±595,...,±292,NaN,±0.8,±8.0,±5.3,±2.1,±4.6,NaN,(X),(X)
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,Estimate,"619,098",NaN,"37,921","35,653","37,777","37,141","40,741","61,486","59,632",...,"25,459",NaN,34.9,(X),(X),(X),(X),NaN,(X),(X)
1155,Margin of Error,±92,NaN,±85,"±1,394","±1,394",±89,±66,±64,±55,...,±2,NaN,±0.1,(X),(X),(X),(X),NaN,(X),(X)
1156,Percent Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1157,Estimate,(X),NaN,6.1%,5.8%,6.1%,6.0%,6.6%,9.9%,9.6%,...,4.1%,NaN,(X),(X),(X),(X),(X),NaN,(X),(X)
1158,Margin of Error,(X),NaN,±0.1,±0.2,±0.2,±0.1,±0.1,±0.1,±0.1,...,±0.1,NaN,(X),(X),(X),(X),(X),NaN,(X),(X)

In [4]:
df.columns = df.columns.str.replace("!!", " ")
df = df.replace("ZCTA5 ","",regex=True)
df = df.replace("±", "", regex=True)
df = df.rename(columns={"Label (Grouping)": "Zip Code"})

In [5]:
df

,Zip Code,Total population,Total population AGE,Total population AGE Under 5 years,Total population AGE 5 to 9 years,Total population AGE 10 to 14 years,Total population AGE 15 to 19 years,Total population AGE 20 to 24 years,Total population AGE 25 to 29 years,Total population AGE 30 to 34 years,...,Total population SELECTED AGE CATEGORIES 75 years and over,Total population SUMMARY INDICATORS,Total population SUMMARY INDICATORS Median age (years),Total population SUMMARY INDICATORS Sex ratio (males per 100 females),Total population SUMMARY INDICATORS Age dependency ratio,Total population SUMMARY INDICATORS Old-age dependency ratio,Total population SUMMARY INDICATORS Child dependency ratio,Total population PERCENT ALLOCATED,Total population PERCENT ALLOCATED Sex,Total population PERCENT ALLOCATED Age
0,78610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,"39,498",NaN,"2,905","3,938","2,607","2,234","2,417","2,047","3,803",...,"1,035",NaN,34.8,97.2,57.1,13.6,43.5,NaN,(X),(X)
3,Margin of Error,"1,996",NaN,493,985,554,517,572,518,595,...,292,NaN,0.8,8.0,5.3,2.1,4.6,NaN,(X),(X)
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,Estimate,"619,098",NaN,"37,921","35,653","37,777","37,141","40,741","61,486","59,632",...,"25,459",NaN,34.9,(X),(X),(X),(X),NaN,(X),(X)
1155,Margin of Error,92,NaN,85,"1,394","1,394",89,66,64,55,...,2,NaN,0.1,(X),(X),(X),(X),NaN,(X),(X)
1156,Percent Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1157,Estimate,(X),NaN,6.1%,5.8%,6.1%,6.0%,6.6%,9.9%,9.6%,...,4.1%,NaN,(X),(X),(X),(X),(X),NaN,(X),(X)
1158,Margin of Error,(X),NaN,0.1,0.2,0.2,0.1,0.1,0.1,0.1,...,0.1,NaN,(X),(X),(X),(X),(X),NaN,(X),(X)

In [7]:
df_total_est

,Zip Code,Total population,Total population AGE,Total population AGE Under 5 years,Total population AGE 5 to 9 years,Total population AGE 10 to 14 years,Total population AGE 15 to 19 years,Total population AGE 20 to 24 years,Total population AGE 25 to 29 years,Total population AGE 30 to 34 years,...,Total population SELECTED AGE CATEGORIES 75 years and over,Total population SUMMARY INDICATORS,Total population SUMMARY INDICATORS Median age (years),Total population SUMMARY INDICATORS Sex ratio (males per 100 females),Total population SUMMARY INDICATORS Age dependency ratio,Total population SUMMARY INDICATORS Old-age dependency ratio,Total population SUMMARY INDICATORS Child dependency ratio,Total population PERCENT ALLOCATED,Total population PERCENT ALLOCATED Sex,Total population PERCENT ALLOCATED Age
0,Estimate,"39,498",NaN,"2,905","3,938","2,607","2,234","2,417","2,047","3,803",...,"1,035",NaN,34.8,97.2,57.1,13.6,43.5,NaN,(X),(X)
1,Estimate,"16,234",NaN,"1,072","1,371","2,263","1,563",736,805,"1,010",...,411,NaN,31.2,101.5,86.7,19.1,67.6,NaN,(X),(X)
2,Estimate,"83,876",NaN,"5,271","5,972","7,681","5,750","3,969","5,596","6,893",...,"3,083",NaN,35.5,97.6,58.4,15.0,43.4,NaN,(X),(X)
3,Estimate,"1,363",NaN,126,142,192,73,55,97,114,...,85,NaN,29.9,104.7,100.7,27.7,73.0,NaN,(X),(X)
4,Estimate,"28,376",NaN,"1,965","1,596","2,298","2,895","2,490","2,433","2,046",...,265,NaN,31.5,111.1,46.8,6.6,40.2,NaN,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Estimate,"9,450",NaN,280,327,334,556,497,"1,409","1,512",...,439,NaN,34.3,93.2,27.6,13.0,14.6,NaN,(X),(X)
57,Estimate,"26,485",NaN,"1,663","1,397","1,897","1,253",854,"2,248","2,901",...,"1,420",NaN,37.2,89.6,53.0,18.3,34.7,NaN,(X),(X)
58,Estimate,"50,575",NaN,"4,223","2,698","2,826","2,319","3,246","6,545","7,256",...,"1,308",NaN,32.0,99.1,40.9,10.2,30.7,NaN,(X),(X)
59,Estimate,"45,901",NaN,"2,640","2,197","2,188","1,885","2,214","4,199","5,183",...,"3,054",NaN,38.3,102.9,48.1,21.6,26.5,NaN,(X),(X)
60,Estimate,"1,250,884",NaN,"77,720","73,115","77,183","74,861","82,079","126,937","124,868",...,"43,420",NaN,34.5,102.0,45.9,14.4,31.6,NaN,(X),(X)

In [6]:
# Totals
df_total_est = df.copy()
df_total_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_total_est.loc[idx] = df_total_est.loc[idx + 2]
        df_total_est_err.loc[idx] = df_total_est_err.loc[idx + 3]
        break
    else:
        df_total_est.loc[idx] = df_total_est.loc[idx + 2]
        df_total_est_err.loc[idx] = df_total_est_err.loc[idx + 3]

df_total_est = df_total_est.loc[list(range(0,len(df),19))]
df_total_est_err = df_total_est_err.loc[list(range(0,len(df),19))]

df_total_est = df_total_est.reset_index()
df_total_est_err = df_total_est_err.reset_index()

df_total_est = df_total_est.drop(columns=['index'])
df_total_est_err = df_total_est_err.drop(columns=['index'])

# Percent of population
df_total_percent = df.copy()
df_total_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_total_percent.loc[idx] = df_total_percent.loc[idx + 5]
        df_total_percent_err.loc[idx] = df_total_percent_err.loc[idx + 6]
        break
    else:
        df_total_percent.loc[idx] = df_total_percent.loc[idx + 5]
        df_total_percent_err.loc[idx] = df_total_percent_err.loc[idx + 6]

df_total_percent = df_total_percent.loc[list(range(0,len(df),19))]
df_total_percent_err = df_total_percent_err.loc[list(range(0,len(df),19))]

df_total_percent = df_total_percent.reset_index()
df_total_percent_err = df_total_percent_err.reset_index()

df_total_percent = df_total_percent.drop(columns=['index'])
df_total_percent_err = df_total_percent_err.drop(columns=['index'])

In [8]:
# Male
df_male_est = df.copy()
df_male_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_male_est.loc[idx] = df_male_est.loc[idx + 8]
        df_male_est_err.loc[idx] = df_male_est_err.loc[idx + 9]
        break
    else:
        df_male_est.loc[idx] = df_male_est.loc[idx + 8]
        df_male_est_err.loc[idx] = df_male_est_err.loc[idx + 9]

df_male_est = df_male_est.loc[list(range(0,len(df),19))]
df_male_est_err = df_male_est_err.loc[list(range(0,len(df),19))]

df_male_est = df_male_est.reset_index()
df_male_est_err = df_male_est_err.reset_index()

df_male_est = df_male_est.drop(columns=['index'])
df_male_est_err = df_male_est_err.drop(columns=['index'])

# Percent Male
df_male_percent = df.copy()
df_male_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_male_percent.loc[idx] = df_male_percent.loc[idx + 11]
        df_male_percent_err.loc[idx] = df_male_percent_err.loc[idx + 12]
        break
    else:
        df_male_percent.loc[idx] = df_male_percent.loc[idx + 11]
        df_male_percent_err.loc[idx] = df_male_percent_err.loc[idx + 12]

df_male_percent = df_male_percent.loc[list(range(0,len(df),19))]
df_male_percent_err = df_male_percent_err.loc[list(range(0,len(df),19))]

df_male_percent = df_male_percent.reset_index()
df_male_percent_err = df_male_percent_err.reset_index()

df_male_percent = df_male_percent.drop(columns=['index'])
df_male_percent_err = df_male_percent_err.drop(columns=['index'])

In [9]:
# Female
df_fem_est = df.copy()
df_fem_est_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_fem_est.loc[idx] = df_fem_est.loc[idx + 14]
        df_fem_est_err.loc[idx] = df_fem_est_err.loc[idx + 15]
        break
    else:
        df_fem_est.loc[idx] = df_fem_est.loc[idx + 14]
        df_fem_est_err.loc[idx] = df_fem_est_err.loc[idx + 15]

df_fem_est = df_fem_est.loc[list(range(0,len(df),19))]
df_fem_est_err = df_fem_est_err.loc[list(range(0,len(df),19))]

df_fem_est = df_fem_est.reset_index()
df_fem_est_err = df_fem_est_err.reset_index()

df_fem_est = df_fem_est.drop(columns=['index'])
df_fem_est_err = df_fem_est_err.drop(columns=['index'])

# Percent Female
df_fem_percent = df.copy()
df_fem_percent_err = df.copy()

for idx in range(0,len(df),19):
    if idx == len(df) - 19:
        df_fem_percent.loc[idx] = df_fem_percent.loc[idx + 17]
        df_fem_percent_err.loc[idx] = df_fem_percent_err.loc[idx + 18]
        break
    else:
        df_fem_percent.loc[idx] = df_fem_percent.loc[idx + 17]
        df_fem_percent_err.loc[idx] = df_fem_percent_err.loc[idx + 18]

df_fem_percent = df_fem_percent.loc[list(range(0,len(df),19))]
df_fem_percent_err = df_fem_percent_err.loc[list(range(0,len(df),19))]

df_fem_percent = df_fem_percent.reset_index()
df_fem_percent_err = df_fem_percent_err.reset_index()

df_fem_percent = df_fem_percent.drop(columns=['index'])
df_fem_percent_err = df_fem_percent_err.drop(columns=['index'])

In [10]:
df_total_est.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/total_est.csv')
df_total_est_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/total_est_err.csv')
df_total_percent.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/total_percent.csv')
df_total_percent_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/total_percent_err.csv')

In [11]:
df_male_est.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/male_est.csv')
df_male_est_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/male_est_err.csv')
df_male_percent.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/male_percent.csv')
df_male_percent_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/male_percent_err.csv')

In [12]:
df_fem_est.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/female_est.csv')
df_fem_est_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/female_est_err.csv')
df_fem_percent.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/female_percent.csv')
df_fem_percent_err.to_csv('./clean/ACSST5Y2020.S1501_age_sex_traviscounty_clean/female_percent_err.csv')